oiiotool:
    path: "/Users/rafalszulinski/Desktop/CODING/IVES/oiio/build/bin"
img:
    path: "/Users/rafalszulinski/PycharmProjects/PyConv/samples"
conversions:
    1:
        input:
            ext:
                - "dpx"
                - "tiff"
            colorspace:
                - "srgb"
        output:
            ext:
                - "exr"
            colorspace:
                - "acescg"
    2:
        input:
            ext:
                - "exr/32"
                - "tiff/32"
        output:
            ext:
                - "exr/tiled"

proxy:
    in:
        max_size: "2"
    out:
        ext: "jpg"
        max_size: "7"

tokenize:
    with:
    action:
        input:
            colorspace:
        output:
            colorspace:

