oiiotool:
    path: "/Users/rafalszulinski/Desktop/CODING/IVES/oiio/build/bin"
img:
    path: "/Users/rafalszulinski/PycharmProjects/PyConv/samples"
conversions:
    1:
        input:
            ext:
                - "tiff/8"
                - "dpx"
                - "jpeg/8"
            colorspace:
                - "srgb"
        output:
            ext:
                - "exr/tiled"
            colorspace:
                - "acescg"

proxy:
    in:
        size:
            width:
            height:
    out:
        size:
            width:
            height:

tokenize:
    with:
    action:
        input:
            colorspace:
        output:
            colorspace:

